script.
  import Template from './_Template.pug'
  import DateItems from './DateItems.pug'

Template
  .title.has-text-white ENGINX
  .container
    DateItems


style.
  .container
    overflow: visible
    width: 100vw
    position: relative
    left: 0


  .container > :global(.dateItems)
    > :global(.days-item:first-child)
      margin-left: 1.5rem
    > :global(.days-item:last-child) > :global(.card)
      margin-right: 1.5rem
  .title
    margin-left: 1.5rem
