form.field.has-addons(on:submit|preventDefault={add})
  .control
    input.input(bind:value={value} required on:keyup={e => console.log(e)})
  .control
    button.button.is-info(type='submit') ADD

ul(style='min-height: 150px')
  {#each ls as i}
    li # {i} #[br]


script.
  let ls = ["first item"]
  let value = "324"
  $: {console.log(value)}
  function add() {
    ls.push(value);
    ls = ls
    value = ""
  }



style.
  .content > h1 {
    font-size: 5rem;
  }
  .content > p {
    font-size: 0.5rem;
  }


